<% provide(:title, "About Hexed") %>
<% provide(:game, 'combined') %>
<h1>About Hexed</h1>
<p>
Hexed has been around for 6+ years and now spans two full worlds 
in the form of World of Warcraft and Tera.</br><br/>
We are a very active guild and are always looking for new members 
to help fill our ranks. Please apply in game or wait until 
the application process has been created here.<br/><br/>Thank 
you for visiting.
</p>
<h4>WoW: Korialstraz</h4>
<p>
	<ul>
		<li>Leader: Malaron</li>
	</ul>
</p>
<h4>TERA: Basilisk Crag</h4>
<p>
	<ul>
		<li>Leader: Trydle</li>
	</ul>
</p>
<h4>Vent</h4>
<p>
	<ul>
		<li>IP: 63.247.87.4</li>
		<li>Port: 3030</li>
		<li>Password: Ask Malaron or Stereg for an account for WoW, or Trydle for TERA</li>
	</ul>
</p>
