<% provide(:game, 'combined') %>
<div class='center villain-unit'>
	<h1>Hexed Guild</h1>

	<h2>
		The site for all things Hexed.
	</h2>

	<%= link_to "Apply now!", apply_path, class: "btn btn-large btn-primary" %>
</div>
