<% if article.announcement %>
	<li class='announcement'>
<% else %>
	<li>
<% end %>
	<div class='row'>
		<div class='span7'>
			<h4 class='title'><%= article.title %></h4>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
			<span class='content'>
				<%= sanitize article.content, tags: %w(iframe), attributes: %w(width height src frameborder allowfullscreen) %>
			</span>
			<span class='timestamp'>
				Posted <%= time_ago_in_words(article.created_at) %> ago.
			</span>
			<% if current_user?(article.user) or current_user.admin %>
				<%= link_to "delete", article, method: :delete, confirm: "Are you sure?", title: article.title %>
			<% end %>
		</div>
	</div> 
</li>
