<div class='row'>
	<div class='span8 offset2'>
		<% if @announcement %>
		<ol class='articles'>
			<%= render @announcement %>
		</ol>
		<% end %>
		<ol class='articles'>
			<%= render @articles %>
		</ol>
		<%= will_paginate @articles %>
	</div>
</div>
